* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.type-card h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  color: blue;
}
.type-card .cards {
  display: flex;
  flex-wrap: wrap;
}
.type-card .cards .card {
  flex-basis: calc(100% / 3 - 10px);
  margin-right: 10px;
}
.type-card .cards .card img {
  width: 100%;
}
.type-card .cards .card h3 {
  margin: 20px 0;
}