* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  flex-basis: calc(100% / 3 - 10px);
  margin-right: 10px;
}
.cards .card img {
  width: 100%;
}